<h1>Prime Finder</h1>
        <form class="search-form" id="primeform" method="post">
        <label for="number">Check if the number is Prime.</label>
        <input id="number" type="number" name="number" class="search_box" required/>
        <br>
        <button type="submit" class="submit_button" >Check</button>
        </form>
        <br>
        <ol id="attempts">
        </ol>
        <footer>
                <p class="myname">Vedadnya Jadhav
                <p class="mycwid">CWID : 10450603       
        </footer>  
        <script src="/public/prime.js"></script>