<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Prime Finder</title>
    <link rel = "stylesheet" type = "text/css" href = "/public/css/style.css" />
</head>
<body>
        {{{body}}}      
</body>
</html>