<h1>People Finder</h1>
<p>This page will find everyone with the value you input below present in thier name . Its a simple People Finder. It will give you no more than 20 results with First Names and Last Names.
<form action="/search" method="POST" class="search-form">
<label for="searchName">Enter Name</label>
<br>
<input id="searchName" type="text" name="personName" class="search_box"/>
<br>
<button type="submit" class="submit_button">Search</button>
</form>